In [15]:
p1

NameError: name 'p1' is not defined

- 如何依順序取出'串列資列'和'映射資料'的元素值
- for_in迴圈

In [16]:
fruits = ['蘋果','香蕉','橘子']
for fruit in fruits:
    print(fruit)

蘋果
香蕉
橘子

In [19]:
for fruit in enumerate(fruits):
 print(fruit)

(0, '蘋果')
(1, '香蕉')
(2, '橘子')

In [20]:
for index,fruit in enumerate(fruits):
    print(index,fruit,sep='->')
    print("=========")

0->蘋果
=========
1->香蕉
=========
2->橘子
=========

In [21]:
cities = {
    'Taipei': '台北',
    'New Taipei': '新北市',
    'Taoyuan': '桃園',
    'Taichung': '台中',
    'Tainan': '台南',
    'Kaohsiung': '高雄',
    'Keelung': '基隆',
    'Hsinchu': '新竹',
    'Chiayi': '嘉義',
    'Hualien': '花蓮'
}
for key, value in cities.items():
    print(f"{key}: {value}")

Taipei: 台北
New Taipei: 新北市
Taoyuan: 桃園
Taichung: 台中
Tainan: 台南
Kaohsiung: 高雄
Keelung: 基隆
Hsinchu: 新竹
Chiayi: 嘉義
Hualien: 花蓮

In [ ]:
import random
#請建立一個學生(students)的dictionary，格式如下:
#{'name': 'value', 'chinese':78, 'english':98, 'math':67, 'history':87, 'health':76}
#請使用list幫我建立50個學生

# Function to generate a random name
def generate_name():
    first_names = ['王', '李', '張', '劉', '陳']
    last_names = ['偉', '芳', '娜', '敏', '靜']
    return random.choice(first_names) + random.choice(last_names)

# Function to generate a student dictionary
def generate_student():
    return {
        'name': generate_name(),
        'chinese': random.randint(60, 100),
        'english': random.randint(60, 100),
        'math': random.randint(60, 100),
        'history': random.randint(60, 100),
        'health': random.randint(60, 100)
    }

# Generate a list of 50 students
students = [generate_student() for _ in range(50)]
students = [
    {'name': '王偉', 'chinese': 78, 'english': 98, 'math': 67, 'history': 87, 'health': 76},
    {'name': '李芳', 'chinese': 88, 'english': 92, 'math': 77, 'history': 85, 'health': 79},
    {'name': '張娜', 'chinese': 90, 'english': 85, 'math': 80, 'history': 88, 'health': 82},
    {'name': '劉敏', 'chinese': 76, 'english': 89, 'math': 70, 'history': 90, 'health': 75},
    {'name': '陳靜', 'chinese': 85, 'english': 91, 'math': 78, 'history': 86, 'health': 80},
    {'name': '王芳', 'chinese': 82, 'english': 87, 'math': 75, 'history': 84, 'health': 78},
    {'name': '李娜', 'chinese': 79, 'english': 90, 'math': 72, 'history': 89, 'health': 77},
    {'name': '張敏', 'chinese': 88, 'english': 93, 'math': 81, 'history': 91, 'health': 83},
    {'name': '劉靜', 'chinese': 77, 'english': 86, 'math': 69, 'history': 88, 'health': 74},
    {'name': '陳偉', 'chinese': 84, 'english': 89, 'math': 76, 'history': 85, 'health': 79},
    {'name': '王娜', 'chinese': 81, 'english': 88, 'math': 74, 'history': 87, 'health': 77},
    {'name': '李敏', 'chinese': 78, 'english': 91, 'math': 71, 'history': 90, 'health': 76},
    {'name': '張靜', 'chinese': 87, 'english': 94, 'math': 80, 'history': 92, 'health': 82},
    {'name': '劉偉', 'chinese': 76, 'english': 87, 'math': 68, 'history': 89, 'health': 73},
    {'name': '陳芳', 'chinese': 83, 'english': 90, 'math': 75, 'history': 86, 'health': 78},
    {'name': '王敏', 'chinese': 80, 'english': 89, 'math': 73, 'history': 88, 'health': 76},
    {'name': '李靜', 'chinese': 77, 'english': 92, 'math': 70, 'history': 91, 'health': 75},
    {'name': '張偉', 'chinese': 86, 'english': 95, 'math': 79, 'history': 93, 'health': 81},
    {'name': '劉芳', 'chinese': 75, 'english': 88, 'math': 67, 'history': 90, 'health': 72},
    {'name': '陳娜', 'chinese': 82, 'english': 91, 'math': 74, 'history': 87, 'health': 77},
    {'name': '王靜', 'chinese': 79, 'english': 90, 'math': 72, 'history': 89, 'health': 76},
    {'name': '李偉', 'chinese': 88, 'english': 93, 'math': 81, 'history': 91, 'health': 83},
    {'name': '張芳', 'chinese': 77, 'english': 86, 'math': 69, 'history': 88, 'health': 74},
    {'name': '劉娜', 'chinese': 84, 'english': 89, 'math': 76, 'history': 85, 'health': 79},
    {'name': '陳敏', 'chinese': 81, 'english': 88, 'math': 74, 'history': 87, 'health': 77},
    {'name': '王偉', 'chinese': 78, 'english': 91, 'math': 71, 'history': 90, 'health': 76},
    {'name': '李芳', 'chinese': 87, 'english': 94, 'math': 80, 'history': 92, 'health': 82},
    {'name': '張娜', 'chinese': 76, 'english': 87, 'math': 68, 'history': 89, 'health': 73},
    {'name': '劉敏', 'chinese': 83, 'english': 90, 'math': 75, 'history': 86, 'health': 78},
    {'name': '陳靜', 'chinese': 80, 'english': 89, 'math': 73, 'history': 88, 'health': 76},
    {'name': '王芳', 'chinese': 77, 'english': 92, 'math': 70, 'history': 91, 'health': 75},
    {'name': '李娜', 'chinese': 86, 'english': 95, 'math': 79, 'history': 93, 'health': 81},
    {'name': '張敏', 'chinese': 75, 'english': 88, 'math': 67, 'history': 90, 'health': 72},
    {'name': '劉靜', 'chinese': 82, 'english': 91, 'math': 74, 'history': 87, 'health': 77},
    {'name': '陳偉', 'chinese': 79, 'english': 90, 'math': 72, 'history': 89, 'health': 76},
    {'name': '王娜', 'chinese': 88, 'english': 93, 'math': 81, 'history': 91, 'health': 83},
    {'name': '李敏', 'chinese': 77, 'english': 86, 'math': 69, 'history': 88, 'health': 74},
    {'name': '張靜', 'chinese': 84, 'english': 89, 'math': 76, 'history': 85, 'health': 79},
    {'name': '劉偉', 'chinese': 81, 'english': 88, 'math': 74, 'history': 87, 'health': 77},
    {'name': '陳芳', 'chinese': 78, 'english': 91, 'math': 71, 'history': 90, 'health': 76},
    {'name': '王敏', 'chinese': 87, 'english': 94, 'math': 80, 'history': 92, 'health': 82},
    {'name': '李靜', 'chinese': 76, 'english': 87, 'math': 68, 'history': 89, 'health': 73},
    {'name': '張偉', 'chinese': 83, 'english': 90, 'math': 75, 'history': 86, 'health': 78},
    {'name': '劉芳', 'chinese': 80, 'english': 89, 'math': 73, 'history': 88, 'health': 76},
    {'name': '陳娜', 'chinese': 77, 'english': 92, 'math': 70, 'history': 91, 'health': 75},
    {'name': '王靜', 'chinese': 86, 'english': 95, 'math': 79, 'history': 93, 'health': 81},
    {'name': '李偉', 'chinese': 75, 'english': 88, 'math': 67, 'history': 90, 'health': 72},
    {'name': '張芳', 'chinese': 82, 'english': 91, 'math': 74, 'history': 87, 'health': 77}
]

In [29]:
import random
students=[]
for i in range(1,51):
    students.append(
       {'name':f'student{i}',
        'chinese': random.randint(50,100),
        'english': random.randint(50,100),
        'math': random.randint(50,100),
        'history': random.randint(50,100),
        'health': random.randint(50,100)
     } 
    )

students

[{'name': 'student1',
  'chinese': 50,
  'english': 69,
  'math': 74,
  'history': 70,
  'health': 64},
 {'name': 'student2',
  'chinese': 72,
  'english': 67,
  'math': 55,
  'history': 69,
  'health': 85},
 {'name': 'student3',
  'chinese': 68,
  'english': 77,
  'math': 59,
  'history': 91,
  'health': 52},
 {'name': 'student4',
  'chinese': 87,
  'english': 53,
  'math': 68,
  'history': 81,
  'health': 90},
 {'name': 'student5',
  'chinese': 77,
  'english': 69,
  'math': 70,
  'history': 84,
  'health': 75},
 {'name': 'student6',
  'chinese': 70,
  'english': 71,
  'math': 98,
  'history': 75,
  'health': 92},
 {'name': 'student7',
  'chinese': 87,
  'english': 84,
  'math': 76,
  'history': 59,
  'health': 89},
 {'name': 'student8',
  'chinese': 51,
  'english': 91,
  'math': 72,
  'history': 67,
  'health': 54},
 {'name': 'student9',
  'chinese': 96,
  'english': 87,
  'math': 65,
  'history': 63,
  'health': 80},
 {'name': 'student10',
  'chinese': 76,
  'english': 57,
  'math': 78,
  'history': 68,
  'health': 66},
 {'name': 'student11',
  'chinese': 64,
  'english': 63,
  'math': 87,
  'history': 84,
  'health': 99},
 {'name': 'student12',
  'chinese': 70,
  'english': 65,
  'math': 53,
  'history': 51,
  'health': 87},
 {'name': 'student13',
  'chinese': 74,
  'english': 60,
  'math': 85,
  'history': 74,
  'health': 94},
 {'name': 'student14',
  'chinese': 82,
  'english': 59,
  'math': 73,
  'history': 84,
  'health': 62},
 {'name': 'student15',
  'chinese': 58,
  'english': 53,
  'math': 63,
  'history': 75,
  'health': 74},
 {'name': 'student16',
  'chinese': 56,
  'english': 54,
  'math': 94,
  'history': 62,
  'health': 71},
 {'name': 'student17',
  'chinese': 82,
  'english': 78,
  'math': 64,
  'history': 73,
  'health': 90},
 {'name': 'student18',
  'chinese': 95,
  'english': 94,
  'math': 76,
  'history': 96,
  'health': 100},
 {'name': 'student19',
  'chinese': 58,
  'english': 68,
  'math': 64,
  'history': 90,
  'health': 61},
 {'name': 'student20',
  'chinese': 97,
  'english': 98,
  'math': 86,
  'history': 85,
  'health': 70},
 {'name': 'student21',
  'chinese': 75,
  'english': 99,
  'math': 56,
  'history': 76,
  'health': 87},
 {'name': 'student22',
  'chinese': 69,
  'english': 78,
  'math': 98,
  'history': 66,
  'health': 57},
 {'name': 'student23',
  'chinese': 99,
  'english': 92,
  'math': 83,
  'history': 87,
  'health': 68},
 {'name': 'student24',
  'chinese': 61,
  'english': 90,
  'math': 78,
  'history': 68,
  'health': 76},
 {'name': 'student25',
  'chinese': 63,
  'english': 76,
  'math': 64,
  'history': 64,
  'health': 59},
 {'name': 'student26',
  'chinese': 97,
  'english': 100,
  'math': 92,
  'history': 87,
  'health': 81},
 {'name': 'student27',
  'chinese': 89,
  'english': 50,
  'math': 72,
  'history': 75,
  'health': 52},
 {'name': 'student28',
  'chinese': 97,
  'english': 76,
  'math': 80,
  'history': 86,
  'health': 89},
 {'name': 'student29',
  'chinese': 79,
  'english': 100,
  'math': 78,
  'history': 61,
  'health': 55},
 {'name': 'student30',
  'chinese': 88,
  'english': 100,
  'math': 88,
  'history': 98,
  'health': 59},
 {'name': 'student31',
  'chinese': 55,
  'english': 58,
  'math': 57,
  'history': 69,
  'health': 94},
 {'name': 'student32',
  'chinese': 65,
  'english': 67,
  'math': 62,
  'history': 90,
  'health': 98},
 {'name': 'student33',
  'chinese': 70,
  'english': 69,
  'math': 83,
  'history': 57,
  'health': 100},
 {'name': 'student34',
  'chinese': 86,
  'english': 84,
  'math': 74,
  'history': 65,
  'health': 66},
 {'name': 'student35',
  'chinese': 86,
  'english': 66,
  'math': 67,
  'history': 67,
  'health': 87},
 {'name': 'student36',
  'chinese': 58,
  'english': 56,
  'math': 52,
  'history': 70,
  'health': 81},
 {'name': 'student37',
  'chinese': 76,
  'english': 81,
  'math': 77,
  'history': 78,
  'health': 58},
 {'name': 'student38',
  'chinese': 55,
  'english': 87,
  'math': 76,
  'history': 69,
  'health': 71},
 {'name': 'student39',
  'chinese': 91,
  'english': 56,
  'math': 53,
  'history': 74,
  'health': 65},
 {'name': 'student40',
  'chinese': 90,
  'english': 96,
  'math': 97,
  'history': 85,
  'health': 89},
 {'name': 'student41',
  'chinese': 80,
  'english': 50,
  'math': 82,
  'history': 51,
  'health': 67},
 {'name': 'student42',
  'chinese': 98,
  'english': 51,
  'math': 76,
  'history': 80,
  'health': 78},
 {'name': 'student43',
  'chinese': 80,
  'english': 93,
  'math': 100,
  'history': 85,
  'health': 71},
 {'name': 'student44',
  'chinese': 58,
  'english': 52,
  'math': 64,
  'history': 93,
  'health': 80},
 {'name': 'student45',
  'chinese': 87,
  'english': 53,
  'math': 66,
  'history': 77,
  'health': 61},
 {'name': 'student46',
  'chinese': 81,
  'english': 95,
  'math': 90,
  'history': 77,
  'health': 54},
 {'name': 'student47',
  'chinese': 70,
  'english': 51,
  'math': 85,
  'history': 66,
  'health': 96},
 {'name': 'student48',
  'chinese': 50,
  'english': 59,
  'math': 89,
  'history': 78,
  'health': 95},
 {'name': 'student49',
  'chinese': 70,
  'english': 59,
  'math': 94,
  'history': 69,
  'health': 64},
 {'name': 'student50',
  'chinese': 99,
  'english': 53,
  'math': 65,
  'history': 52,
  'health': 81}]

In [30]:
# 將 students 列表轉換為字串
students_str = '\n'.join([
    f"姓名:{student['name']}, "
    f"國文:{student['chinese']}, "
    f"英文:{student['english']}, "
    f"數學:{student['math']}, "
    f"歷史:{student['history']}, "
    f"健康:{student['health']}"
    for student in students
])

print(students_str)

姓名:student1, 國文:50, 英文:69, 數學:74, 歷史:70, 健康:64
姓名:student2, 國文:72, 英文:67, 數學:55, 歷史:69, 健康:85
姓名:student3, 國文:68, 英文:77, 數學:59, 歷史:91, 健康:52
姓名:student4, 國文:87, 英文:53, 數學:68, 歷史:81, 健康:90
姓名:student5, 國文:77, 英文:69, 數學:70, 歷史:84, 健康:75
姓名:student6, 國文:70, 英文:71, 數學:98, 歷史:75, 健康:92
姓名:student7, 國文:87, 英文:84, 數學:76, 歷史:59, 健康:89
姓名:student8, 國文:51, 英文:91, 數學:72, 歷史:67, 健康:54
姓名:student9, 國文:96, 英文:87, 數學:65, 歷史:63, 健康:80
姓名:student10, 國文:76, 英文:57, 數學:78, 歷史:68, 健康:66
姓名:student11, 國文:64, 英文:63, 數學:87, 歷史:84, 健康:99
姓名:student12, 國文:70, 英文:65, 數學:53, 歷史:51, 健康:87
姓名:student13, 國文:74, 英文:60, 數學:85, 歷史:74, 健康:94
姓名:student14, 國文:82, 英文:59, 數學:73, 歷史:84, 健康:62
姓名:student15, 國文:58, 英文:53, 數學:63, 歷史:75, 健康:74
姓名:student16, 國文:56, 英文:54, 數學:94, 歷史:62, 健康:71
姓名:student17, 國文:82, 英文:78, 數學:64, 歷史:73, 健康:90
姓名:student18, 國文:95, 英文:94, 數學:76, 歷史:96, 健康:100
姓名:student19, 國文:58, 英文:68, 數學:64, 歷史:90, 健康:61
姓名:student20, 國文:97, 英文:98, 數學:86, 歷史:85, 健康:70
姓名:student21, 國文:75, 英文:99, 數學:56, 歷史:76, 健康:87
姓名:student22, 國文:69, 英文:78, 數學:98, 歷史:66, 健康:57
姓名:student23, 國文:99, 英文:92, 數學:83, 歷史:87, 健康:68
姓名:student24, 國文:61, 英文:90, 數學:78, 歷史:68, 健康:76
姓名:student25, 國文:63, 英文:76, 數學:64, 歷史:64, 健康:59
姓名:student26, 國文:97, 英文:100, 數學:92, 歷史:87, 健康:81
姓名:student27, 國文:89, 英文:50, 數學:72, 歷史:75, 健康:52
姓名:student28, 國文:97, 英文:76, 數學:80, 歷史:86, 健康:89
姓名:student29, 國文:79, 英文:100, 數學:78, 歷史:61, 健康:55
姓名:student30, 國文:88, 英文:100, 數學:88, 歷史:98, 健康:59
姓名:student31, 國文:55, 英文:58, 數學:57, 歷史:69, 健康:94
姓名:student32, 國文:65, 英文:67, 數學:62, 歷史:90, 健康:98
姓名:student33, 國文:70, 英文:69, 數學:83, 歷史:57, 健康:100
姓名:student34, 國文:86, 英文:84, 數學:74, 歷史:65, 健康:66
姓名:student35, 國文:86, 英文:66, 數學:67, 歷史:67, 健康:87
姓名:student36, 國文:58, 英文:56, 數學:52, 歷史:70, 健康:81
姓名:student37, 國文:76, 英文:81, 數學:77, 歷史:78, 健康:58
姓名:student38, 國文:55, 英文:87, 數學:76, 歷史:69, 健康:71
姓名:student39, 國文:91, 英文:56, 數學:53, 歷史:74, 健康:65
姓名:student40, 國文:90, 英文:96, 數學:97, 歷史:85, 健康:89
姓名:student41, 國文:80, 英文:50, 數學:82, 歷史:51, 健康:67
姓名:student42, 國文:98, 英文:51, 數學:76, 歷史:80, 健康:78
姓名:student43, 國文:80, 英文:93, 數學:100, 歷史:85, 健康:71
姓名:student44, 國文:58, 英文:52, 數學:64, 歷史:93, 健康:80
姓名:student45, 國文:87, 英文:53, 數學:66, 歷史:77, 健康:61
姓名:student46, 國文:81, 英文:95, 數學:90, 歷史:77, 健康:54
姓名:student47, 國文:70, 英文:51, 數學:85, 歷史:66, 健康:96
姓名:student48, 國文:50, 英文:59, 數學:89, 歷史:78, 健康:95
姓名:student49, 國文:70, 英文:59, 數學:94, 歷史:69, 健康:64
姓名:student50, 國文:99, 英文:53, 數學:65, 歷史:52, 健康:81

In [31]:
print(students_str,file=open('students.txt',mode='w',encoding='utf-8'))

In [14]:
del p1

In [13]:
p1

{'name': '謝旻宜'}

In [12]:
del p1['city']
p1.pop('age')

40

In [24]:
print(p1['name'])
print(p1.get('age'))
list(p1.values())

謝旻宜
40

['謝旻宜', 40, 'new taipei city']

In [22]:
p1 = {'name': '謝旻宜', 'age': 40, 'city': 'new taipei city'}
p1

{'name': '謝旻宜', 'age': 40, 'city': 'new taipei city'}