In [15]:
p1

NameError: name 'p1' is not defined

- 如何依順序取出'串列資列'和'映射資料'的元素值
- for_in迴圈

In [16]:
fruits = ['蘋果','香蕉','橘子']
for fruit in fruits:
    print(fruit)

蘋果
香蕉
橘子

In [19]:
for fruit in enumerate(fruits):
 print(fruit)

(0, '蘋果')
(1, '香蕉')
(2, '橘子')

In [20]:
for index,fruit in enumerate(fruits):
    print(index,fruit,sep='->')
    print("=========")

0->蘋果
=========
1->香蕉
=========
2->橘子
=========

In [21]:
cities = {
    'Taipei': '台北',
    'New Taipei': '新北市',
    'Taoyuan': '桃園',
    'Taichung': '台中',
    'Tainan': '台南',
    'Kaohsiung': '高雄',
    'Keelung': '基隆',
    'Hsinchu': '新竹',
    'Chiayi': '嘉義',
    'Hualien': '花蓮'
}
for key, value in cities.items():
    print(f"{key}: {value}")

Taipei: 台北
New Taipei: 新北市
Taoyuan: 桃園
Taichung: 台中
Tainan: 台南
Kaohsiung: 高雄
Keelung: 基隆
Hsinchu: 新竹
Chiayi: 嘉義
Hualien: 花蓮

In [ ]:
import random
#請建立一個學生(students)的dictionary，格式如下:
#{'name': 'value', 'chinese':78, 'english':98, 'math':67, 'history':87, 'health':76}
#請使用list幫我建立50個學生

# Function to generate a random name
def generate_name():
    first_names = ['王', '李', '張', '劉', '陳']
    last_names = ['偉', '芳', '娜', '敏', '靜']
    return random.choice(first_names) + random.choice(last_names)

# Function to generate a student dictionary
def generate_student():
    return {
        'name': generate_name(),
        'chinese': random.randint(60, 100),
        'english': random.randint(60, 100),
        'math': random.randint(60, 100),
        'history': random.randint(60, 100),
        'health': random.randint(60, 100)
    }

# Generate a list of 50 students
students = [generate_student() for _ in range(50)]
students = [
    {'name': '王偉', 'chinese': 78, 'english': 98, 'math': 67, 'history': 87, 'health': 76},
    {'name': '李芳', 'chinese': 88, 'english': 92, 'math': 77, 'history': 85, 'health': 79},
    {'name': '張娜', 'chinese': 90, 'english': 85, 'math': 80, 'history': 88, 'health': 82},
    {'name': '劉敏', 'chinese': 76, 'english': 89, 'math': 70, 'history': 90, 'health': 75},
    {'name': '陳靜', 'chinese': 85, 'english': 91, 'math': 78, 'history': 86, 'health': 80},
    {'name': '王芳', 'chinese': 82, 'english': 87, 'math': 75, 'history': 84, 'health': 78},
    {'name': '李娜', 'chinese': 79, 'english': 90, 'math': 72, 'history': 89, 'health': 77},
    {'name': '張敏', 'chinese': 88, 'english': 93, 'math': 81, 'history': 91, 'health': 83},
    {'name': '劉靜', 'chinese': 77, 'english': 86, 'math': 69, 'history': 88, 'health': 74},
    {'name': '陳偉', 'chinese': 84, 'english': 89, 'math': 76, 'history': 85, 'health': 79},
    {'name': '王娜', 'chinese': 81, 'english': 88, 'math': 74, 'history': 87, 'health': 77},
    {'name': '李敏', 'chinese': 78, 'english': 91, 'math': 71, 'history': 90, 'health': 76},
    {'name': '張靜', 'chinese': 87, 'english': 94, 'math': 80, 'history': 92, 'health': 82},
    {'name': '劉偉', 'chinese': 76, 'english': 87, 'math': 68, 'history': 89, 'health': 73},
    {'name': '陳芳', 'chinese': 83, 'english': 90, 'math': 75, 'history': 86, 'health': 78},
    {'name': '王敏', 'chinese': 80, 'english': 89, 'math': 73, 'history': 88, 'health': 76},
    {'name': '李靜', 'chinese': 77, 'english': 92, 'math': 70, 'history': 91, 'health': 75},
    {'name': '張偉', 'chinese': 86, 'english': 95, 'math': 79, 'history': 93, 'health': 81},
    {'name': '劉芳', 'chinese': 75, 'english': 88, 'math': 67, 'history': 90, 'health': 72},
    {'name': '陳娜', 'chinese': 82, 'english': 91, 'math': 74, 'history': 87, 'health': 77},
    {'name': '王靜', 'chinese': 79, 'english': 90, 'math': 72, 'history': 89, 'health': 76},
    {'name': '李偉', 'chinese': 88, 'english': 93, 'math': 81, 'history': 91, 'health': 83},
    {'name': '張芳', 'chinese': 77, 'english': 86, 'math': 69, 'history': 88, 'health': 74},
    {'name': '劉娜', 'chinese': 84, 'english': 89, 'math': 76, 'history': 85, 'health': 79},
    {'name': '陳敏', 'chinese': 81, 'english': 88, 'math': 74, 'history': 87, 'health': 77},
    {'name': '王偉', 'chinese': 78, 'english': 91, 'math': 71, 'history': 90, 'health': 76},
    {'name': '李芳', 'chinese': 87, 'english': 94, 'math': 80, 'history': 92, 'health': 82},
    {'name': '張娜', 'chinese': 76, 'english': 87, 'math': 68, 'history': 89, 'health': 73},
    {'name': '劉敏', 'chinese': 83, 'english': 90, 'math': 75, 'history': 86, 'health': 78},
    {'name': '陳靜', 'chinese': 80, 'english': 89, 'math': 73, 'history': 88, 'health': 76},
    {'name': '王芳', 'chinese': 77, 'english': 92, 'math': 70, 'history': 91, 'health': 75},
    {'name': '李娜', 'chinese': 86, 'english': 95, 'math': 79, 'history': 93, 'health': 81},
    {'name': '張敏', 'chinese': 75, 'english': 88, 'math': 67, 'history': 90, 'health': 72},
    {'name': '劉靜', 'chinese': 82, 'english': 91, 'math': 74, 'history': 87, 'health': 77},
    {'name': '陳偉', 'chinese': 79, 'english': 90, 'math': 72, 'history': 89, 'health': 76},
    {'name': '王娜', 'chinese': 88, 'english': 93, 'math': 81, 'history': 91, 'health': 83},
    {'name': '李敏', 'chinese': 77, 'english': 86, 'math': 69, 'history': 88, 'health': 74},
    {'name': '張靜', 'chinese': 84, 'english': 89, 'math': 76, 'history': 85, 'health': 79},
    {'name': '劉偉', 'chinese': 81, 'english': 88, 'math': 74, 'history': 87, 'health': 77},
    {'name': '陳芳', 'chinese': 78, 'english': 91, 'math': 71, 'history': 90, 'health': 76},
    {'name': '王敏', 'chinese': 87, 'english': 94, 'math': 80, 'history': 92, 'health': 82},
    {'name': '李靜', 'chinese': 76, 'english': 87, 'math': 68, 'history': 89, 'health': 73},
    {'name': '張偉', 'chinese': 83, 'english': 90, 'math': 75, 'history': 86, 'health': 78},
    {'name': '劉芳', 'chinese': 80, 'english': 89, 'math': 73, 'history': 88, 'health': 76},
    {'name': '陳娜', 'chinese': 77, 'english': 92, 'math': 70, 'history': 91, 'health': 75},
    {'name': '王靜', 'chinese': 86, 'english': 95, 'math': 79, 'history': 93, 'health': 81},
    {'name': '李偉', 'chinese': 75, 'english': 88, 'math': 67, 'history': 90, 'health': 72},
    {'name': '張芳', 'chinese': 82, 'english': 91, 'math': 74, 'history': 87, 'health': 77}
]

In [27]:
import random
students=[]
for i in range(1,51):
    students.append(
       {'name':f'student{i}',
        'chinese': random.randint(50,100),
        'english': random.randint(50,100),
        'math': random.randint(50,100),
        'history': random.randint(50,100),
        'health': random.randint(50,100)
     } 
    )

students

[{'name': 'student1',
  'chinese': 98,
  'english': 76,
  'math': 98,
  'history': 73,
  'health': 50},
 {'name': 'student2',
  'chinese': 54,
  'english': 97,
  'math': 78,
  'history': 51,
  'health': 75},
 {'name': 'student3',
  'chinese': 64,
  'english': 97,
  'math': 97,
  'history': 65,
  'health': 70},
 {'name': 'student4',
  'chinese': 80,
  'english': 58,
  'math': 65,
  'history': 80,
  'health': 72},
 {'name': 'student5',
  'chinese': 80,
  'english': 73,
  'math': 78,
  'history': 64,
  'health': 82},
 {'name': 'student6',
  'chinese': 56,
  'english': 88,
  'math': 70,
  'history': 90,
  'health': 95},
 {'name': 'student7',
  'chinese': 93,
  'english': 77,
  'math': 63,
  'history': 59,
  'health': 96},
 {'name': 'student8',
  'chinese': 63,
  'english': 97,
  'math': 77,
  'history': 53,
  'health': 70},
 {'name': 'student9',
  'chinese': 82,
  'english': 95,
  'math': 71,
  'history': 86,
  'health': 88},
 {'name': 'student10',
  'chinese': 70,
  'english': 52,
  'math': 64,
  'history': 85,
  'health': 77},
 {'name': 'student11',
  'chinese': 75,
  'english': 59,
  'math': 79,
  'history': 95,
  'health': 57},
 {'name': 'student12',
  'chinese': 97,
  'english': 84,
  'math': 76,
  'history': 67,
  'health': 67},
 {'name': 'student13',
  'chinese': 81,
  'english': 57,
  'math': 70,
  'history': 90,
  'health': 99},
 {'name': 'student14',
  'chinese': 65,
  'english': 62,
  'math': 82,
  'history': 84,
  'health': 62},
 {'name': 'student15',
  'chinese': 75,
  'english': 92,
  'math': 82,
  'history': 89,
  'health': 67},
 {'name': 'student16',
  'chinese': 54,
  'english': 71,
  'math': 62,
  'history': 76,
  'health': 52},
 {'name': 'student17',
  'chinese': 86,
  'english': 59,
  'math': 54,
  'history': 86,
  'health': 54},
 {'name': 'student18',
  'chinese': 96,
  'english': 95,
  'math': 53,
  'history': 60,
  'health': 80},
 {'name': 'student19',
  'chinese': 74,
  'english': 95,
  'math': 84,
  'history': 59,
  'health': 53},
 {'name': 'student20',
  'chinese': 78,
  'english': 50,
  'math': 73,
  'history': 87,
  'health': 71},
 {'name': 'student21',
  'chinese': 55,
  'english': 78,
  'math': 61,
  'history': 51,
  'health': 69},
 {'name': 'student22',
  'chinese': 50,
  'english': 67,
  'math': 52,
  'history': 56,
  'health': 73},
 {'name': 'student23',
  'chinese': 52,
  'english': 100,
  'math': 69,
  'history': 97,
  'health': 98},
 {'name': 'student24',
  'chinese': 76,
  'english': 67,
  'math': 73,
  'history': 73,
  'health': 71},
 {'name': 'student25',
  'chinese': 92,
  'english': 88,
  'math': 84,
  'history': 52,
  'health': 66},
 {'name': 'student26',
  'chinese': 82,
  'english': 55,
  'math': 69,
  'history': 61,
  'health': 76},
 {'name': 'student27',
  'chinese': 56,
  'english': 95,
  'math': 99,
  'history': 73,
  'health': 99},
 {'name': 'student28',
  'chinese': 74,
  'english': 67,
  'math': 72,
  'history': 59,
  'health': 61},
 {'name': 'student29',
  'chinese': 74,
  'english': 95,
  'math': 99,
  'history': 79,
  'health': 60},
 {'name': 'student30',
  'chinese': 69,
  'english': 68,
  'math': 83,
  'history': 70,
  'health': 64},
 {'name': 'student31',
  'chinese': 55,
  'english': 81,
  'math': 60,
  'history': 83,
  'health': 69},
 {'name': 'student32',
  'chinese': 54,
  'english': 59,
  'math': 84,
  'history': 72,
  'health': 60},
 {'name': 'student33',
  'chinese': 92,
  'english': 81,
  'math': 57,
  'history': 59,
  'health': 84},
 {'name': 'student34',
  'chinese': 51,
  'english': 67,
  'math': 55,
  'history': 64,
  'health': 99},
 {'name': 'student35',
  'chinese': 51,
  'english': 68,
  'math': 57,
  'history': 81,
  'health': 88},
 {'name': 'student36',
  'chinese': 67,
  'english': 70,
  'math': 83,
  'history': 75,
  'health': 59},
 {'name': 'student37',
  'chinese': 93,
  'english': 88,
  'math': 51,
  'history': 54,
  'health': 88},
 {'name': 'student38',
  'chinese': 55,
  'english': 62,
  'math': 87,
  'history': 96,
  'health': 61},
 {'name': 'student39',
  'chinese': 87,
  'english': 89,
  'math': 75,
  'history': 76,
  'health': 61},
 {'name': 'student40',
  'chinese': 54,
  'english': 67,
  'math': 76,
  'history': 70,
  'health': 93},
 {'name': 'student41',
  'chinese': 55,
  'english': 52,
  'math': 97,
  'history': 92,
  'health': 57},
 {'name': 'student42',
  'chinese': 85,
  'english': 78,
  'math': 66,
  'history': 51,
  'health': 78},
 {'name': 'student43',
  'chinese': 88,
  'english': 72,
  'math': 85,
  'history': 70,
  'health': 73},
 {'name': 'student44',
  'chinese': 51,
  'english': 82,
  'math': 56,
  'history': 59,
  'health': 52},
 {'name': 'student45',
  'chinese': 83,
  'english': 87,
  'math': 81,
  'history': 74,
  'health': 90},
 {'name': 'student46',
  'chinese': 79,
  'english': 87,
  'math': 92,
  'history': 74,
  'health': 86},
 {'name': 'student47',
  'chinese': 93,
  'english': 73,
  'math': 96,
  'history': 83,
  'health': 60},
 {'name': 'student48',
  'chinese': 83,
  'english': 61,
  'math': 95,
  'history': 100,
  'health': 89},
 {'name': 'student49',
  'chinese': 55,
  'english': 67,
  'math': 96,
  'history': 57,
  'health': 51},
 {'name': 'student50',
  'chinese': 78,
  'english': 85,
  'math': 54,
  'history': 50,
  'health': 90}]

In [14]:
del p1

In [13]:
p1

{'name': '謝旻宜'}

In [12]:
del p1['city']
p1.pop('age')

40

In [24]:
print(p1['name'])
print(p1.get('age'))
list(p1.values())

謝旻宜
40

['謝旻宜', 40, 'new taipei city']

In [22]:
p1 = {'name': '謝旻宜', 'age': 40, 'city': 'new taipei city'}
p1

{'name': '謝旻宜', 'age': 40, 'city': 'new taipei city'}