<a href="https://colab.research.google.com/github/minyi-114/python_analysis/blob/main/lesson4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
total = sum((1,2,3,4,5))
total

15

In [4]:
def myFunction():
  return [1,2,3,4,5]

total = sum(myFunction())
total

15

In [5]:
l2 = list((1,2,3,4,5))
l2

[1, 2, 3, 4, 5]

In [6]:
l2.append(6)
l2

[1, 2, 3, 4, 5, 6]