In [1]:
import numpy as np
students = np.array([
    [67,94,65],
    [78,92,68],
    [59,92,87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 92, 87]])

In [3]:
import pandas as pd

pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['國文','英文','數學']
             )

      國文  英文  數學
stu1  67  94  65
stu2  78  92  68
stu3  59  92  87

In [4]:
np.random.randint(50,high=101,size=5)

array([53, 69, 85, 97, 75], dtype=int32)

In [ ]:
#隨機建立一個班級50名學生的5科成績，若是3班則 size=(3,50,5)
data = np.random.randint(50,high=101,size=(50,5))
students = pd.DataFrame(data,
                        columns=['國文','英文','數學','地理','探討'])
students

     國文   英文   數學   地理   探討
0    66   51   77   78   67
1    75   72   98   74   97
2    91   66   92   61   74
3    83   70   88   83   89
4    67   56   76   66   50
5    64   82   90   70   83
6    83   68   62   51  100
7    55   69   52   86   78
8    94   64   74   73   96
9    88   92   77   96   55
10   54   80   54   64   73
11   54   64   50   54   79
12   50   97   70   77   73
13   91   90  100   83   91
14   74   92   58   52   91
15   87   73   65   78   63
16   79   91   77   61   78
17   52   53   91   66   57
18   96   95   83   63   58
19   95   68   74   74   70
20   68  100   98   95   64
21   59   71   71   70   63
22   89   59   51   75   61
23   73   61   91   81   57
24   58   85   63  100   66
25   91   75   92   67   88
26  100   94   65   83   62
27   61   82   52   73   93
28   61   87   55   92   83
29   82   82   61   91   51
30   92   69   58   94   60
31   93   66   90   83   91
32   76   51   84   74   73
33   61   87   57   77   74
34  100  100   78   88   53
35   79   76   80   67   73
36   94   79   54   58   93
37   72   86   60   75   71
38   57   71   84   59   57
39   81   76   65   83   67
40   96   59   93   93   66
41   66   87   83   57   87
42   59  100   86   95   66
43   55   82   59   85   60
44   62   99   62   69   81
45   85   62   82   67   93
46   69   89   59   68   70
47   96   96   63   96   51
48   94   97   86   76  100
49   60   69   64   60   98

In [ ]:
#隨機選取若干個姓名
import random
def get_name(nums:int=10) -> list:  #定義函式:輸入參數及輸出形態
    with open('names.txt',encoding='utf-8') as file:
        context = file.read()        #讀取檔案內容
        names = context.split('\n')  #\n 換行符號
        random_names = random.sample(names,nums)
    return random_names

get_name(5)

['林淑安', '鄧亭聿', '戴萱能', '鄭奇翰', '朱彥志']

In [12]:
#建立一個50名學生的成績表
student_nums = 50
data = np.random.randint(50,high=101,size=(student_nums,5))
students = pd.DataFrame(data,
                        columns=['國文','英文','數學','地理','探討'],
                        index=get_name(student_nums))
students

      國文  英文  數學   地理  探討
張凡成   70  62  82   74  87
方雅慧   93  58  76   65  81
陳向愛   62  52  74   61  98
蔡偉成   83  59  74   81  55
錢佩豪   59  84  60   73  90
王志謙   86  86  81   68  76
張韋成   94  94  64   63  86
吳柏誠   88  88  64   88  93
林向鈺   56  91  97   63  90
謝佳穎   74  93  94   61  63
林珍旺   77  67  73   95  63
李彥伸  100  68  72   91  50
李佳彥   82  66  85   91  99
羅佩樺   75  87  77   97  92
林志成   86  65  69   56  81
彭偉妃   90  76  79   98  77
王梅劭   78  75  73   96  50
林士凱   52  62  91   71  59
戚亨    58  72  71  100  91
盧冠發   97  61  62   53  89
林益妏   94  78  70   54  87
楊健麟   93  72  97   90  85
翁鈺婷   80  88  51  100  50
張雅芬   79  65  56   60  80
許淑婷   91  58  86   97  93
藍姿婷   72  51  75   95  81
陳淑萍   92  95  61   83  63
余月修   85  57  55   85  88
吳志宣   78  63  93   85  82
蕭淑華   54  85  95   95  80
張軒宸   59  74  65   95  86
白美珍   76  88  93   60  91
吳麗卿   99  68  55   81  96
陳慧君   93  75  63   92  86
陳怡伶   55  82  96   53  97
許芳如   80  80  76   64  77
黃政甫   59  51  80   56  90
陳樂紫   67  87  83   76  77
馮耀中   52  64  88   62  74
陳家維   70  69  89   77  79
郭舜昇   80  74  75   57  72
高俊男   81  90  95   84  57
崔孝憲   98  71  76   56  52
金宜芳   71  70  52   60  55
黃心航   78  53  85   95  54
陳美惠   95  54  57   84  80
呂傑宣   63  67  53   72  96
黃必琪   69  64  82   67  53
劉昀天   83  74  63   61  64
陳怡珊   82  51  82   83  64

In [ ]:
#用pandas.DataFrame.to_csv存檔
students.to_csv('studentx.csv')
print('csv存檔成功')

csv存檔成功

In [16]:
students.to_excel('studentx.xlsx',sheet_name='3年8班期中考分數')