In [12]:
import pandas as pd

# 假設你有一個 DataFrame 叫做 df
# 這裡是一個範例 DataFrame
data = {
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C': [1, None, 3, 4]
}
df = pd.DataFrame(data)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      float64
 2   C       3 non-null      float64
dtypes: float64(3)
memory usage: 228.0 bytes

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  3.0
3  4.0  4.0  4.0

In [4]:
# 刪除包含 NaN 值的列
df_cleaned = df.dropna()
df_cleaned

     A    B    C
3  4.0  4.0  4.0

In [15]:
import pandas as pd

# 假設你有一個 DataFrame 叫做 df
# 這裡是一個範例 DataFrame
data = {
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C': [1, None, 3, 4]
}
df = pd.DataFrame(data)

# 刪除包含 NaN 值的列
df_cleaned = df.dropna()

# 如果你想刪除包含 NaN 值的欄位，可以使用以下方法
# df_cleaned = df.dropna(axis=1) # axis=1 表示刪除欄位 (column)
# how='any' 表示只要有 NaN 值就刪除該列或欄位
# how='all' 表示全部都是 NaN 值才刪除該列或欄位

print(df_cleaned)

     A    B    C
3  4.0  4.0  4.0

In [7]:
import numpy as np

# 只有當該列的所有值都是 NaN 時，才刪除該列
data2 = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, np.nan, 'd'], 
        'col3': [1.1, 2.2, np.nan, np.nan]}
df2 = pd.DataFrame(data2)
print("\n原始 DataFrame2：")
print(df2)

原始 DataFrame2：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN  NaN   NaN
3   4.0    d   NaN

In [ ]:
df2_cleaned = df2.dropna(how='all') # how='all' 表示只刪除所有值都是 NaN 的列
print("\n刪除所有值都是 NaN 的列後的 DataFrame2：")
print(df2_cleaned)

刪除所有值都是 NaN 的列後的 DataFrame2：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
3   4.0    d   NaN

In [9]:
# 指定要檢查的列名列表
data3 = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [1.1, 2.2, 3.3, np.nan]}
df3 = pd.DataFrame(data3)
print("\n原始 DataFrame3：")
print(df3)

原始 DataFrame3：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN    c   3.3
3   4.0    d   NaN

In [ ]:
df3_cleaned = df3.dropna(subset=['col1','col3']) # 只刪除 col1 或 col3 包含 NaN 的列
print("\n刪除col1或col3包含NaN的列後的 DataFrame3：")
print(df3_cleaned)

刪除col1或col3包含NaN的列後的 DataFrame3：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2

In [13]:
# 建立一個包含 NaN 的 DataFrame
data = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [np.nan, np.nan, np.nan, np.nan]}
df = pd.DataFrame(data)

print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3
0   1.0    a   NaN
1   2.0  NaN   NaN
2   NaN    c   NaN
3   4.0    d   NaN

In [14]:
# 刪除任何包含 NaN 的欄
df_cleaned = df.dropna(axis='columns')  # 或 axis='columns'
print("\n刪除包含 NaN 的欄後的 DataFrame：")
print(df_cleaned)

刪除包含 NaN 的欄後的 DataFrame：
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [18]:
data = {'col1': [10,20,30],'col2': [40,50,60]}
df = pd.DataFrame(data,index=['A','B','C'])
print(df)

   col1  col2
A    10    40
B    20    50
C    30    60

In [22]:
df_n = df.reindex(columns=['col2','col1'])
df_n

   col2  col1
A    40    10
B    50    20
C    60    30