In [9]:
import numpy as np
import pandas as pd
s1 = pd.Series(np.random.randint(1,101,9),
          index=[['a','a','a','b','b','c','c','d','d'],
                    [1,2,3,1,2,3,1,2,3]]
          )
s1.index.names=['x','y']
s1

x  y
a  1    93
   2    73
   3    21
b  1    60
   2    44
c  3    48
   1    32
d  2    42
   3    95
dtype: int32

In [10]:
s1['a']
display(s1)

x  y
a  1    93
   2    73
   3    21
b  1    60
   2    44
c  3    48
   1    32
d  2    42
   3    95
dtype: int32

In [11]:
s1.unstack()

y     1     2     3
x
a  93.0  73.0  21.0
b  60.0  44.0   NaN
c  32.0   NaN  48.0
d   NaN  42.0  95.0

In [13]:
s2 = s1.unstack(level='x')
s2

x     a     b     c     d
y
1  93.0  60.0  32.0   NaN
2  73.0  44.0   NaN  42.0
3  21.0   NaN  48.0  95.0

In [14]:
s3 = s2.stack()
s3

y  x
1  a    93.0
   b    60.0
   c    32.0
2  a    73.0
   b    44.0
   d    42.0
3  a    21.0
   c    48.0
   d    95.0
dtype: float64

In [16]:
s4 = s3.swaplevel().sort_index(level='x')
s4

x  y
a  1    93.0
   2    73.0
   3    21.0
b  1    60.0
   2    44.0
c  1    32.0
   3    48.0
d  2    42.0
   3    95.0
dtype: float64

In [17]:
np.arange(12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [18]:
np.arange(12).reshape(4,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [19]:
df1 = pd.DataFrame(np.arange(12).reshape(4,3),
                   index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['台北','台北','台中'],['Green','Red','Green']])

df1

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [21]:
df1.index.names = ['key1','key2']
df1.columns.names = ['縣市','顏色']
df1

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [22]:
df1.swaplevel('key1','key2')

縣市           台北        台中
顏色        Green Red Green
key2 key1
1    a        0   1     2
2    a        3   4     5
1    b        6   7     8
2    b        9  10    11

In [28]:
df2 = df1.stack(level='縣市')
df2

C:\Users\user\AppData\Local\Temp\ipykernel_712\296858586.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df2 = df1.stack(level='縣市')

顏色            Green   Red
key1 key2 縣市
a    1    台中      2   NaN
          台北      0   1.0
     2    台中      5   NaN
          台北      3   4.0
b    1    台中      8   NaN
          台北      6   7.0
     2    台中     11   NaN
          台北      9  10.0

In [26]:
df2.unstack(level='key1')

顏色      Green      Red
key1        a   b    a     b
key2 縣市
1    台中     2   8  NaN   NaN
     台北     0   6  1.0   7.0
2    台中     5  11  NaN   NaN
     台北     3   9  4.0  10.0