In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

In [5]:
!pip install jinja2

Collecting jinja2
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Collecting MarkupSafe>=2.0 (from jinja2)
  Downloading MarkupSafe-3.0.2-cp312-cp312-win_amd64.whl.metadata (4.1 kB)
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading MarkupSafe-3.0.2-cp312-cp312-win_amd64.whl (15 kB)
Installing collected packages: MarkupSafe, jinja2
Successfully installed MarkupSafe-3.0.2 jinja2-3.1.6

In [ ]:
#用"\"表示換行，使指令更易讀，但不是必要的
df.style\
.format(precision=2, thousands=",", decimal=".")\
.format_index(axis=1, formatter = str.upper)\
.relabel_index(["row1", "row2"], axis=0)

In [10]:
import pandas as pd
import numpy as np

# 範例 DataFrame
data = {
    'A': [1234.5678, 9876.5432, 10000.00],
    'B': [0.1234, 0.5678, 0.9999],
    'C': ['蘋果', '香蕉', '櫻桃'],
    'D': pd.to_datetime(['2023-10-26', '2023-10-27', '2023-10-28']),
    'E': [np.nan, 1, 2]
}
df = pd.DataFrame(data)
df

            A       B   C          D    E
0   1234.5678  0.1234  蘋果 2023-10-26  NaN
1   9876.5432  0.5678  香蕉 2023-10-27  1.0
2  10000.0000  0.9999  櫻桃 2023-10-28  2.0

In [11]:
styled_df1 = df.style.format("{:.2f}",subset=['A','B'])
styled_df1

In [31]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                          index=pd.date_range(start='2021-01-01', periods=10),
                          columns = ["Tokyo", "Taipei"])
weather_df.style.set_caption("Weather Conditions")  # 設定標題

In [32]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None,vmin=1,vmax=5,cmap='PuBuGn')\
.to_excel('test1.xlsx')  
# 設定標題及背景顏色，並將結果輸出成 Excel 檔案
# axis=None 表示整個 DataFrame，vmin=1, vmax=5 表示顏色的範圍，cmap='PuBuGn' 表示顏色的選擇
# 輸出的 Excel 檔案名稱為 test1.xlsx

In [34]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None,subset=['Tokyo'],vmin=1,vmax=5,cmap='BuPu')\
.format("{:.2f}")
# 設定標題，並設定指定欄的背景顏色

In [39]:
# 定義一個函數，根據降雨量的大小，回傳對應的天氣狀況
def rain_condition(v):
    if v < 1.75:
        return "乾燥"
    elif v < 2.75:
        return "有雨"
    else:
        return "大雨"

# 定義一個函數，將日期格式改為年月日    
def change_index(t):
    return t.strftime('%Y年%m月%d日')  # 取出年月

# 視覺化表格，並套用函數    
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None,subset=['Tokyo'],vmin=1,vmax=5,cmap='BuPu')\
.format(rain_condition)\
.format_index(change_index)