In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a','a','b','b','a'],
                   'key2': ['one','two','one','two','one'],
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.421040 -0.056532
1    a  two  2.242294 -1.455622
2    b  one  0.145114 -0.278619
3    b  two  0.944994 -0.992578
4    a  one -2.122643  0.900238

In [ ]:
# Series的Groupby
grouped = df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped

In [10]:
grouped.mean()

台中   -0.588824
台北    0.936150
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(df['key2']).mean()

key2
one   -0.518829
two    1.593644
Name: data1, dtype: float64

In [17]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one    -0.850801
      two     2.242294
b     one     0.145114
      two     0.944994
Name: data1, dtype: float64

In [14]:
s1.unstack(level='key2')

key2       one       two
key1
a    -0.850801  2.242294
b     0.145114  0.944994

In [ ]:
df.groupby('key1')['data1'].mean()

key1
a    0.180231
b    0.545054
Name: data1, dtype: float64

In [24]:
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a     0.180231 -0.203972
b     0.545054 -0.635598

In [ ]:
# DataFrame的Groupby
s2 = df.groupby(['key1','key2'])[['data1','data2']].mean()
s2

              data1     data2
key1 key2
a    one  -0.850801  0.421853
     two   2.242294 -1.455622
b    one   0.145114 -0.278619
     two   0.944994 -0.992578

In [31]:
# 練習
ds1 = df.groupby(['key1','key2'])['data1'].sum()
ds2 = df.groupby(['key1','key2'])['data2'].mean()
s3 = pd.concat([ds1,ds2],axis=1) #資料合併
s3

              data1     data2
key1 key2
a    one  -1.701602  0.421853
     two   2.242294 -1.455622
b    one   0.145114 -0.278619
     two   0.944994 -0.992578