In [9]:
import numpy as np
import pandas as pd
s1 = pd.Series(np.random.randint(1,101,9),
          index=[['a','a','a','b','b','c','c','d','d'],
                    [1,2,3,1,2,3,1,2,3]]
          )
s1.index.names=['x','y']
s1

x  y
a  1    93
   2    73
   3    21
b  1    60
   2    44
c  3    48
   1    32
d  2    42
   3    95
dtype: int32

In [10]:
s1['a']
display(s1)

x  y
a  1    93
   2    73
   3    21
b  1    60
   2    44
c  3    48
   1    32
d  2    42
   3    95
dtype: int32

In [11]:
s1.unstack()

y     1     2     3
x
a  93.0  73.0  21.0
b  60.0  44.0   NaN
c  32.0   NaN  48.0
d   NaN  42.0  95.0

In [13]:
s2 = s1.unstack(level='x')
s2

x     a     b     c     d
y
1  93.0  60.0  32.0   NaN
2  73.0  44.0   NaN  42.0
3  21.0   NaN  48.0  95.0

In [14]:
s3 = s2.stack()
s3

y  x
1  a    93.0
   b    60.0
   c    32.0
2  a    73.0
   b    44.0
   d    42.0
3  a    21.0
   c    48.0
   d    95.0
dtype: float64

In [16]:
s4 = s3.swaplevel().sort_index(level='x')
s4

x  y
a  1    93.0
   2    73.0
   3    21.0
b  1    60.0
   2    44.0
c  1    32.0
   3    48.0
d  2    42.0
   3    95.0
dtype: float64